<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Realname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-realname" data-rule="required" class="form-control" name="row[realname]" type="text" value="{$row.realname}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sex" data-rule="required" class="form-control" name="row[sex]" type="text" value="{$row.sex}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" class="form-control" name="row[type]" type="text" value="{$row.type}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('National')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-national" data-rule="required" class="form-control" name="row[national]" type="text" value="{$row.national}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" class="form-control" name="row[idcard]" type="text" value="{$row.idcard}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Birthday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-birthday" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[birthday]" type="text" value="{$row.birthday}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text" value="{$row.address}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address2" data-rule="required" class="form-control" name="row[address2]" type="text" value="{$row.address2}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile2" data-rule="required" class="form-control" name="row[mobile2]" type="text" value="{$row.mobile2}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcardimg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcardimg" class="form-control" size="50" name="row[idcardimg]" type="text" value="{$row.idcardimg}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcardimg" class="btn btn-danger plupload" data-input-id="c-idcardimg" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-idcardimg"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-idcardimg" class="btn btn-primary fachoose" data-input-id="c-idcardimg" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-idcardimg"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcardimg"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Graduationimg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-graduationimg" class="form-control" size="50" name="row[graduationimg]" type="text" value="{$row.graduationimg}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-graduationimg" class="btn btn-danger plupload" data-input-id="c-graduationimg" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-graduationimg"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-graduationimg" class="btn btn-primary fachoose" data-input-id="c-graduationimg" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-graduationimg"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-graduationimg"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Headimg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-headimg" class="form-control" size="50" name="row[headimg]" type="text" value="{$row.headimg}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-headimg" class="btn btn-danger plupload" data-input-id="c-headimg" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-headimg"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-headimg" class="btn btn-primary fachoose" data-input-id="c-headimg" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-headimg"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-headimg"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
