

<div data-page="newinfo" class="page">

    <!--顶部导航-->

    <div class="navbar">

        <div class="navbar-inner">

            <div class="left">

                <a href="" class="back">

                    <img src="/assets/img/icon-back.png" alt="">

                </a>

            </div>

            <div class="center sliding" style="text-align: center;width: 100%;">{if $bureau_type eq 1}安监局网上报名须知{elseif $bureau_type eq 2}质监局网上报名协议{else}人保部网上报名协议{/if}</div>

        </div>

    </div>

    <style>

        .content-block p img{

            width: 100%;

            float: left;

        }

    </style>

    <!--顶部导航-->

    <div class="page-content" style="background: white;">

        <div class="content-block">



            <h1 style="font-size: 16px;text-align: center;line-height: 25px">报名须知</h1>
            <p style="font-size: 13px;line-height: 25px;">
                1.	本人保证提交的个人信息资料真实并符合相关法律规定。如因不真实而造成后续报考工作无法进行，将由报考人承担所有责任。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                2.	报考人员登录平台须使用报考人员姓名、身份证号码、邮箱等作为登录本系统的依据，如因保管不善，造成报考中出现不可抗后果，由报考人自行承担。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                3.	报考人员在收到审核通过通知后，应在规定期限内登录本平台缴纳相应费用，如因报考人错过期限而造成的后果，由报考人自行承担。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                4.	缴纳费用时请认真核对报考计划及个人相关信息，无误后再确认缴费。缴费成功后，非官方政策原因，相关报名费用不予退还。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                5.	考试时间和考试批次由各个考试管理机构统一安排，并在准考证上注明。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                6.	本人理解并同意，如出现不可抗力或突发停电、断网等原因无法正常考试的，由考试管理机构另行安排下一批次考试。
            </p>
            <p style="font-size: 13px;line-height: 25px;">
                7.	申请退款：按照报名进度以及政策法规，经审核后方可原路退回，如此退款期间产生额外的费用，将由报考人自行支付。
            </p>


        </div>



        <div class="row" style="height: 50px;"></div>

    </div>


</div>