<div data-page="goodsinfo" class="page no-navbar">
    <div class="page-content" style="background:  white;">
        <link rel="stylesheet" href="/Mobile/lib/ydui.min.css">
        <link rel="stylesheet" href="/Mobile/css/app.min.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_846861_qsztxz1v28d.css">
        <script src="/Mobile/lib/jQuery-2.1.4.min.js"></script>
        <script src="/Mobile/lib/ydui.js"></script>
        <script src="/Mobile/js/fun.js"></script>
        <script src="/Mobile/js/app.js"></script>
        <div id="app">
            <header>
                <span class="iconfont icon-back back"></span>
                <p>商品详情</p>
                <span></span>
            </header>
            <section id="goods">
                <!-- 轮播图 -->
                <div class="m-slider" id="J_Slider">
                    <div class="slider-wrapper">
                        <div class="slider-item">
                            <a href="#">
                                <img src="http://static.ydcss.com/uploads/ydui/1.jpg">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="http://static.ydcss.com/uploads/ydui/2.jpg">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="http://static.ydcss.com/uploads/ydui/3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="slider-pagination"></div><!-- 分页标识 -->
                    <div class="points">
                        <span>1</span>
                        /
                        <span>5</span>
                    </div>
                </div>
                <!-- 信息 -->
                <div class="shop-info">
                    <div class="top">
                        <div class="price">￥1490</div>
                        <div class="info">该商品支持积分兑换和DDC币购买</div>
                        <div class="info">一级代理价：￥999 二级代理价：￥1100 三级代理价：￥1200</div>
                    </div>
                    <div class="name">啤酒商品名称啤酒商品名称啤酒商品名称啤酒商品名称啤酒商品名称</div>
                    <div class="text">
                        <span>快递：0.00</span>
                        <span>月销662笔</span>
                        <span>上海</span>
                    </div>
                </div>
                <!-- 详情 -->
                <div class="shop-detail">
                    <div class="top-btn">
                        <span class="open-win">查看详情</span>
                    </div>
                    <div class="detail-box"></div>
                </div>
                <!-- 选择规格 -->
                <div class="spec-mark">
                    <div class="spec-box">
                        <div class="top">
                            <div class="img-box">
                                <img src="http://img0.imgtn.bdimg.com/it/u=1186623817,3847551837&fm=26&gp=0.jpg">
                            </div>
                            <div class="right-text">
                                <div class="price">￥45</div>
                                <div class="info">库存5252件</div>
                                <div class="info">请选择<em> 年份</em><em> 规格</em></div>
                            </div>
                        </div>
                        <div class="spec-list">
                            <div class="row">
                                <div class="spec-tit">年份分类</div>
                                <div class="item-box">
                                    <span class="on">3年</span>
                                    <span>5年</span>
                                    <span>3年</span>
                                    <span>5年</span>
                                    <span>3年</span>
                                    <span>5年</span>
                                    <span>3年</span>
                                    <span>5年</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="spec-tit">年份分类</div>
                                <div class="item-box">
                                    <span class="on">3年</span>
                                    <span>5年</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="spec-tit">年份分类</div>
                                <div class="item-box">
                                    <span class="on">3年</span>
                                    <span>5年</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="left">购买数量</div>
                            <div class="right">
                                <span class="pre num-btn">-</span>
                                <p class="num">1</p>
                                <span class="add num-btn">+</span>
                            </div>
                        </div>
                        <div class="btns">确定</div>
                    </div>

                </div>


                <!-- 底部按钮 -->
                <div class="bottom">
                    <div class="addCart">加入购物车</div>
                    <div class="buy">立即购买</div>
                </div>
            </section>
        </div>
    </div>
</div>


