<div data-page="bonus" class="page finance">
    <!--顶部导航-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="" class="back"><i class="icon icon-back"></i></a>
            </div>
            <div class="center sliding" style="text-align: center;width: 100%;">币记录</div>
            <div class="right">
                <a href="{:url('index/index')}" class="link"> <i class="fa fa-home"></i></a>
            </div>
        </div>
    </div>
    <!--顶部导航-->
    <div class="page-content">
        <style>
            .list-block img {
                height: 63px;
            }

            .coin {
                float: left;
                width: 25%;
                text-align: center;
                background: #f7f7f8;
                font-size: xx-small;
            }
        </style>
        <!--<div class="content-block-title">奖金明细</div>-->
        {if condition="$list"}
            <div class="list-block media-list">
                <ul>
                   {volist name="list" id="vo"}
                        <div class="coin"><img src="/Public/images/coin.png" alt="">
                            <div> 币编号：{$vo.id}</div>
                        </div>
                    {/volist}
                </ul>
            </div>
            {else/}
            <div class="content-block-title">没有更多了</div>
        {/if}
        <div class="row" style="height: 50px;"></div>
    </div>
    <!--底部开始-->
    <div class="toolbar toolbar-bottom">
        <div class="toolbar-inner">
            {if condition="$p eq 1"}
                <a href="{:url('Edetail/bonus2')}?p={$p}" class="link disabled">上一页</a>
                <a href="{:url('Edetail/bonus2')}?p=1" class="link disabled">首页</a>
                {else/}
                <a href="{:url('Edetail/bonus2')}?p={$p - 1}" class="link">上一页</a>
                <a href="{:url('Edetail/bonus2')}?p=1" class="link">首页</a>
            {/if}
            <a href="{:url('Edetail/bonus2')}?p={$p +1 }" class="link">下一页</a>
        </div>
    </div>
    <!--底部结束-->
</div>
