#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  display: flex;
  line-height: 45px;
  height: 45px;
  background: #f3f3f3;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
header span {
  width: 40px;
  text-align: center;
}
header p {
  font-size: 17px;
}
section {
  flex: 1;
}
footer {
  display: flex;
  line-height: 50px;
  height: 50px;
  background: #fff;
  width: 100%;
}
footer .tab-items {
  flex: 1;
  color: #333;
  text-align: center ;
}
footer .tab-items.active {
  color: #0093fd;
}
footer .tab-items p:nth-of-type(1) {
  height: 30px;
  line-height: 30px;
  font-size: 22px;
}
footer .tab-items p:nth-of-type(2) {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
/*首页*/
#index {
  overflow: auto;
}
#index .slider-pagination {
  bottom: 30px;
}
#index .nav-box {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 15px 0;
  width: 94%;
  position: relative;
  top: -20px;
  z-index: 1111;
  margin: auto;
  box-shadow: 0 0 2px 1px #eee;
}
#index .nav-box .nav-item {
  flex: 1;
  text-align: center;
}
#index .nav-box .nav-item p:nth-of-type(2) {
  line-height: 30px;
  font-size: 14px;
}
#index .nav-box .nav-item img {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}
#index .hots-box {
  width: 94%;
  margin: 0 auto;
}
#index .hots-box:nth-of-type(1) {
  margin-top: -20px;
}
#index .hots-box .host-tit {
  text-indent: 5px;
  font-size: 16px;
  color: #333;
  line-height: 40px;
}
#index .hots-box .shop-row {
  background: #fff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 5px;
}
#index .hots-box .shop-row .shop-item {
  border-right: 1px solid #f5f5f5;
  flex: 1;
  padding: 10px 5px 5px;
}
#index .hots-box .shop-row .shop-item .top img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 3px;
}
#index .hots-box .shop-row .shop-item .cent {
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#index .hots-box .shop-row .shop-item .bottom {
  line-height: 30px;
  font-size: 16px;
  color: red;
  text-align: center;
}
#index .recom-box .recom-tit {
  width: 94%;
  margin: auto;
  line-height: 40px;
  text-indent: 5px;
  font-size: 16px;
  color: #333;
}
#index .recom-box .recom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#index .recom-box .recom-content .recom-item {
  margin: 0 2% 10px;
  width: 46%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}
#index .recom-box .recom-content .recom-item .top img {
  display: block;
  width: 100%;
  margin: auto;
}
#index .recom-box .recom-content .recom-item .name {
  line-height: 20px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 10px auto;
}
#index .recom-box .recom-content .recom-item .price {
  font-size: 16px;
  color: red;
}
/* 列表 */
#list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#list .search-box {
  background: #fff;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
  box-sizing: border-box;
}
#list .search-box .search {
  display: flex;
  align-items: center;
  width: 90%;
  background: #f3f2f8;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 16px;
}
#list .search-box .search .iconfont {
  font-size: 20px;
}
#list .search-box .search input {
  background: transparent;
  border: 0;
  height: 28px;
  box-sizing: border-box;
  text-indent: 5px;
  color: #949399;
  flex: 1;
}
#list .search-box .search .search-btn {
  padding: 0 5px;
  font-size: 15px;
  display: none;
}
#list .scroll-box {
  display: flex;
  flex: 1;
}
#list .scroll-box .left-nav {
  width: 80px;
  overflow: auto;
}
#list .scroll-box .left-nav::-webkit-scrollbar {
  display: none;
}
#list .scroll-box .left-nav .nav-item {
  line-height: 50px;
  border-left: 3px solid transparent;
  font-size: 15px;
  text-align: center;
  display: block;
  background: #f7f7f7;
  font-weight: 500;
}
#list .scroll-box .left-nav .nav-item.on {
  border-left-color: #ef2010;
  color: #ef2531;
  background: white;
}
#list .scroll-box .shop-right {
  flex: 1;
  overflow: auto;
  background: #fff;
}
#list .scroll-box .shop-right::-webkit-scrollbar {
  display: none;
}
#list .scroll-box .shop-right .shop-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #b6b6b6;
}
#list .scroll-box .shop-right .shop-item:nth-last-of-type(1) {
  border: 0;
}
#list .scroll-box .shop-right .shop-item .left img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
}
#list .scroll-box .shop-right .shop-item .center .name {
  line-height: 24px;
  height: 48px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#list .scroll-box .shop-right .shop-item .center .price {
  line-height: 32px;
  font-size: 17px;
  color: #f41c0d;
}
#list .scroll-box .shop-right .shop-item .right .tag {
  width: 65px;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #fe0000;
  border: 1px solid #fe0000;
  box-sizing: border-box;
}
#list .scroll-box .shop-right .shop-item .right .tag-price {
  line-height: 45px;
  font-size: 16px;
  color: #ef2010;
}
/* 购物车 */
#cart {
  position: relative;
  background: #fff;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow: auto;
}
#cart .scroll-box {
  padding: 0 10px;
}
#cart .scroll-box .shop-item {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
  display: flex;
}
#cart .scroll-box .shop-item:nth-last-of-type(1) {
  border: 0;
}
#cart .scroll-box .shop-item .left {
  margin-right: 10px;
}
#cart .scroll-box .shop-item .left img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 3px;
}
#cart .scroll-box .shop-item .text-detail {
  flex: 1;
}
#cart .scroll-box .shop-item .text-detail .top {
  font-size: 15px;
  color: #333;
  line-height: 24px;
  height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#cart .scroll-box .shop-item .text-detail .centent {
  font-size: 13px;
  line-height: 26px;
}
#cart .scroll-box .shop-item .text-detail .centent span {
  color: #fe3464;
}
#cart .scroll-box .shop-item .text-detail .centent del {
  color: #999999;
}
#cart .scroll-box .shop-item .text-detail .btn-row {
  display: flex;
  justify-content: space-between;
  line-height: 26px;
}
#cart .scroll-box .shop-item .text-detail .btn-row .addNum {
  display: flex;
  align-items: center;
}
#cart .scroll-box .shop-item .text-detail .btn-row .addNum .num-btn {
  width: 24px;
  height: 24px;
  text-align: center;
  background: #ff7101;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
}
#cart .scroll-box .shop-item .text-detail .btn-row .addNum .num-btn:nth-of-type(1) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#cart .scroll-box .shop-item .text-detail .btn-row .addNum .num-btn:nth-last-of-type(1) {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#cart .scroll-box .shop-item .text-detail .btn-row .addNum .num {
  width: 40px;
  height: 24px;
  line-height: 24px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-align: center;
  color: #c1c0c6;
}
#cart .scroll-box .shop-item .text-detail .btn-row .delet {
  font-size: 16px;
  color: #999999;
}
#cart .bottom {
  position: fixed;
  bottom: 0;
  line-height: 50px;
  background: #faf8f9;
  width: 100%;
  display: flex;
}
#cart .bottom .left {
  text-align: right;
  flex: 1;
  padding: 0 10px;
  font-size: 15px;
  color: #666;
}
#cart .bottom .left .prices {
  color: #ff7101;
  font-size: 18px;
}
#cart .bottom .submit-btn {
  width: 110px;
  line-height: 50px;
  background: #ff7101;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
/* 商品详情 */
#goods {
  position: relative;
  padding-bottom: 50px;
}
#goods #J_Slider .points {
  position: absolute;
  right: 10px;
  border-radius: 15px ;
  bottom: 5px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px 10px;
}
#goods .shop-info {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid #f5f6f8;
  border-bottom: 2px solid #f5f6f8;
}
#goods .shop-info .top .price {
  font-size: 20px;
  color: #fe7032;
  line-height: 34px;
}
#goods .shop-info .top .info {
  line-height: 20px;
  font-size: 12px;
  color: #fe7032;
}
#goods .shop-info .name {
  padding: 10px 0;
  font-size: 16px;
  color: #333;
}
#goods .shop-info .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #b9afae;
}
#goods .shop-detail .top-btn {
  background: #fff;
  line-height: 36px;
  font-size: 15px;
  text-align: center;
}
#goods .shop-detail .top-btn .open-win {
  color: #fd8853;
}
#goods .shop-detail .top-btn .close-win {
  color: #333;
}
#goods .shop-detail .detail-box {
  margin-top: 10px;
  background: #fff;
  box-sizing: border-box;
}
#goods .shop-detail .detail-box img {
  width: 100%;
  display: inline-block;
}
#goods .spec-mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
  justify-content: flex-end;
  flex-direction: column;
}
#goods .spec-mark .spec-box {
  background: #fff;
}
#goods .spec-mark .spec-box .top {
  display: flex;
  position: relative;
  padding: 0 10px;
}
#goods .spec-mark .spec-box .top .img-box {
  height: 100px;
  width: 100px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  top: -15px;
}
#goods .spec-mark .spec-box .top .img-box img {
  width: 100%;
  display: block;
}
#goods .spec-mark .spec-box .top .right-text {
  flex: 1;
  padding-left: 10px;
}
#goods .spec-mark .spec-box .top .right-text .price {
  line-height: 40px;
  font-size: 15px;
  color: #ff7131;
}
#goods .spec-mark .spec-box .top .right-text .info {
  font-size: 12px;
  line-height: 20px;
  color: #777;
}
#goods .spec-mark .spec-box .spec-list {
  padding: 0 10px 20px;
}
#goods .spec-mark .spec-box .spec-list .spec-tit {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 34px;
}
#goods .spec-mark .spec-box .spec-list .item-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#goods .spec-mark .spec-box .spec-list .item-box span {
  padding: 3px 15px;
  border-radius: 15px;
  font-size: 13px;
  background: #f5f5f5;
  color: #3c3c3c;
  margin: 2px 5px;
}
#goods .spec-mark .spec-box .spec-list .item-box span.on {
  color: #fff;
  background: #ff7101;
}
#goods .spec-mark .spec-box .input-row {
  display: flex;
  align-items: center;
  line-height: 36px;
  justify-content: space-between;
  border-top: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 14px;
}
#goods .spec-mark .spec-box .input-row .right {
  display: flex;
  align-items: center;
  width: 100px;
}
#goods .spec-mark .spec-box .input-row .right .num-btn {
  width: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  background: #ff7101;
}
#goods .spec-mark .spec-box .input-row .right .num-btn:nth-of-type(1) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#goods .spec-mark .spec-box .input-row .right .num-btn:nth-last-of-type(1) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#goods .spec-mark .spec-box .input-row .right .num {
  line-height: 24px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  flex: 1;
}
#goods .spec-mark .spec-box .btns {
  line-height: 36px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #ff7101;
}
#goods .bottom {
  display: flex;
  width: 100%;
  line-height: 50px;
  position: fixed;
  bottom: 0 ;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
#goods .bottom .addCart {
  width: 120px;
  background: #ffb401;
}
#goods .bottom .buy {
  background: #ff7101;
  flex: 1;
}
/* 充值 */
#recharge {
  padding-top: 10px;
  margin: 0 auto;
  width: 94%;
}
#recharge .type .type-tit {
  line-height: 40px;
  font-size: 15px;
  color: #333;
}
#recharge .type .type-select {
  background: #fff;
  border-radius: 5px;
}
#recharge .type .type-select .cell-item:nth-of-type(1) .cell-left .iconfont {
  color: #0ae;
}
#recharge .type .type-select .cell-item:nth-of-type(2) .cell-left .iconfont {
  color: #08cc15;
}
#recharge .type .type-select .cell-item .cell-left {
  font-size: 16px;
}
#recharge .type .type-select .cell-item .cell-left .iconfont {
  font-size: 26px;
  margin-right: 5px;
}
#recharge .type .type-select .cell-item:not(:last-child):after {
  border: 0;
}
#recharge .type .type-select .cell-item .cell-right .cell-checkbox-icon:after {
  font-size: 30px;
}
#recharge .type .type-select .cell-item .cell-right input:checked + .cell-checkbox-icon:after {
  color: #ff9f38;
}
#recharge .recharge-box {
  background: #fff;
  margin: 20px auto 0;
  border-radius: 5px;
  padding: 10px 20px;
}
#recharge .recharge-box .recharge-tit {
  height: 40px;
  font-size: 16px;
}
#recharge .recharge-box .recharge-tit .put-info {
  font-size: 14px;
  color: #797876;
  float: right;
}
#recharge .recharge-box .recharge-row {
  border-bottom: 1px solid #f5f5f5;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#recharge .recharge-box .recharge-row i {
  width: 30px;
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}
#recharge .recharge-box .recharge-row input {
  flex: 1;
  text-indent: 10px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  width: 100%;
  border: 0;
  display: inline-block;
  background: transparent;
}
#recharge .recharge-box .recharge-row .put-btn {
  width: 60px;
  font-size: 14px;
  color: #06a0f8;
}
#recharge .recharge-box .recharge-btn {
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #11a7fe;
  width: 80%;
  line-height: 40px;
  border-radius: 5px ;
  border: 0;
  display: block;
}
#recharge .recharge-box .recharge-btn.put {
  background: #ff9f38;
}
/* 用户中心 */
#user {
  overflow: auto;
}
#user .scroll-box {
  background: url('/Public/Mobile/img/user-bg.png') top center no-repeat;
  background-size: 100%;
}
#user .scroll-box .nac-top {
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
#user .scroll-box .nac-top span {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
}
#user .scroll-box .nac-top span.iconfont {
  font-size: 24px;
}
#user .scroll-box .nac-top span:nth-of-type(1) {
  background: #fff;
  color: #00bfff;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 15px;
}
#user .scroll-box .nac-top p {
  flex: 1;
}
#user .scroll-box .user-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#user .scroll-box .user-box .img-box {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 5px solid rgba(72, 129, 237, 0.5);
  overflow: hidden;
}
#user .scroll-box .user-box .img-box img {
  width: 100%;
  height: 100%;
  display: block;
}
#user .scroll-box .user-box .user-name {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
#user .scroll-box .user-box .user-tip {
  color: #fff;
  background: linear-gradient(to left, #ff7400, #ffaa00, #ff7402);
  padding: 0 5px;
  border-radius: 3px;
  margin-bottom: 40px;
}
#user .scroll-box .wallert-box {
  padding: 10px 0;
  display: flex;
  position: relative;
  top: -25px;
  width: 94%;
  margin: auto;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
}
#user .scroll-box .wallert-box .left {
  display: flex;
  flex: 1;
}
#user .scroll-box .wallert-box .wallert-item {
  text-align: center;
  flex: 1;
}
#user .scroll-box .wallert-box .wallert-item p:nth-of-type(1) {
  line-height: 40px;
  font-size: 18px;
}
#user .scroll-box .wallert-box .wallert-item p:nth-of-type(1).iconfont {
  font-size: 26px;
  color: #01b7ff;
}
#user .scroll-box .wallert-box .wallert-item p:nth-of-type(2) {
  line-height: 30px;
  font-size: 12px;
}
#user .scroll-box .wallert-box .wallert-item.right {
  width: 80px;
  flex: none;
  border-left: 2px solid #f5f5f5;
}
#user .scroll-box .order-box {
  padding: 10px 0 ;
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  top: -10px;
}
#user .scroll-box .order-box .left {
  flex: 1;
  display: flex;
}
#user .scroll-box .order-box .order-item {
  flex: 1;
  position: relative ;
  text-align: center;
}
#user .scroll-box .order-box .order-item .badge {
  position: absolute;
  top: -5px;
  right: 15px;
}
#user .scroll-box .order-box .order-item:nth-of-type(1) p.iconfont {
  color: #ff7c02;
}
#user .scroll-box .order-box .order-item:nth-of-type(2) p.iconfont {
  color: #2355ad;
}
#user .scroll-box .order-box .order-item:nth-of-type(3) p.iconfont {
  color: #e1252e;
}
#user .scroll-box .order-box .order-item p:nth-of-type(1) {
  line-height: 40px;
  font-size: 26px;
}
#user .scroll-box .order-box .order-item p:nth-of-type(2) {
  line-height: 30px;
}
#user .scroll-box .order-box .order-item.right {
  flex: none;
  width: 80px;
  border-left: 2px solid #f5f5f5;
}
#user .scroll-box .order-box .order-item.right p.iconfont {
  color: #09b9ff;
}
#user .scroll-box .fun-box {
  background: #fff;
  border-radius: 5px;
  width: 94%;
  margin: 0 auto 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
#user .scroll-box .fun-box .fun-item {
  width: 25%;
}
#user .scroll-box .fun-box .fun-item p:nth-of-type(1) img {
  display: block;
  margin: auto;
}
#user .scroll-box .fun-box .fun-item p:nth-of-type(2) {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
/* 申请代理商 */
#agent {
  overflow: auto;
  padding: 0 10px;
  box-sizing: border-box;
}
#agent .agent-box .agent-tit {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
#agent .agent-box .agent-select {
  width: 100%;
  background: #11a7fe;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 0 10px;
}
#agent .agent-box .agent-select select {
  width: 100%;
  line-height: 40px;
  border: 0;
  color: #fff;
  font-size: 15px;
  background: #11a7fe ;
}
#agent .agent-box .agent-select .iconfont {
  float: right;
  position: absolute;
  top: 10px;
  font-size: 22px;
  right: 10px;
}
#agent .agent-lever .agent-tit {
  line-height: 40px;
  font-size: 14px;
  color: #333;
}
#agent .agent-lever .agent-item {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
}
#agent .agent-lever .agent-item .left {
  flex: 1;
}
#agent .agent-lever .agent-item .left .lever {
  line-height: 24px;
  font-size: 15px;
}
#agent .agent-lever .agent-item .left .info {
  line-height: 20px;
  font-size: 13px;
}
#agent .agent-lever .agent-item .left span {
  color: #f55f51;
}
#agent .agent-lever .agent-item .right {
  width: 30px;
  align-self: center;
}
#agent .agent-lever .agent-item .right span {
  color: #fff;
  font-size: 24px;
}
#agent .agent-lever .agent-item.on {
  background: #ff7761;
}
#agent .agent-lever .agent-item.on span {
  color: #fff;
}
#agent .agent-lever .agent-item.on .lever {
  color: #fff;
}
#agent .agent-lever .agent-item.on .info {
  color: #fff;
}
#agent .agent-btn {
  line-height: 36px;
  width: 100%;
  background: #11a7fe;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
/* 我的钱包 */
#wallert {
  padding: 10px;
  box-sizing: border-box;
}
#wallert .wallert-item {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#wallert .wallert-item .left span {
  font-size: 20px;
}
#wallert .wallert-item:nth-of-type(1) {
  background: #11a7fe;
  color: #fff;
}
#wallert .wallert-item:nth-of-type(2) {
  background: #ff7761;
  color: #fff;
}
#wallert .wallert-item:nth-of-type(3) {
  background: #fff;
  color: #11a7fe;
}
#wallert .wallert-item:nth-of-type(4) {
  background: #fff;
  color: #ff7761;
}
#wallert .wallert-item .left {
  flex: 1;
}
#wallert .wallert-item .left span {
  line-height: 60px;
}
#wallert .wallert-item .right {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-around;
  text-align: center;
}
#wallert .wallert-item .right a {
  border-radius: 3px;
  font-size: 12px;
}
#wallert .wallert-item .right .put {
  background: #f5c03c;
}
#wallert .wallert-item .right .reg {
  background: #ff7761;
}
#wallert .wallert-item .right .dal {
  background: #d1d0cc;
}
/* 账户明细 */
#detailed {
  overflow: auto;
}
#detailed .detailed-box .detailed-tit {
  line-height: 34px;
  font-size: 15px;
  color: #333;
  padding: 0 20px;
}
#detailed .detailed-box .detailed-content {
  background: #fff;
}
#detailed .detailed-box .detailed-content .detailed-item {
  padding: 5px 20px;
  border-bottom: 1px solid #f5f5f5;
}
#detailed .detailed-box .detailed-content .detailed-item:nth-last-of-type(1) {
  border: 0;
}
#detailed .detailed-box .detailed-content .detailed-item .info {
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#detailed .detailed-box .detailed-content .detailed-item .info:nth-of-type(1) {
  font-size: 14px;
  color: #333;
}
#detailed .detailed-box .detailed-content .detailed-item .info:nth-of-type(2) {
  font-size: 12px;
}
#detailed .detailed-box .detailed-content .detailed-item .info:nth-of-type(2) span:nth-of-type(1) {
  color: #999;
}
#detailed .detailed-box .detailed-content .detailed-item .info:nth-of-type(2) span:nth-of-type(2) {
  color: #f1af37;
}
/* 订单 */
#order {
  overflow: auto;
  padding-bottom: 50px;
}
#order .address {
  margin: 10px;
  background: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
}
#order .address .top {
  line-height: 34px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
#order .address .bottom {
  position: relative;
}
#order .address .bottom .iconfont {
  font-size: 20px;
}
#order .address .bottom .iconfont:nth-of-type(1) {
  position: absolute;
  left: -22px;
  top: 5px;
}
#order .address .bottom .iconfont:nth-last-of-type(1) {
  position: absolute;
  right: -22px;
  top: 5px;
  color: #999;
}
#order .address .bottom span {
  font-size: 12px;
  color: #777;
}
#order .shop-box {
  margin: 0 10px 10px;
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
#order .shop-box .img-box {
  width: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#order .shop-box .img-box img {
  border-radius: 3px;
  width: 100%;
  display: block;
}
#order .shop-box .detail-box {
  flex: 1;
}
#order .shop-box .detail-box .name {
  font-size: 15px;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 24px;
}
#order .shop-box .detail-box .spec {
  display: flex;
  flex-wrap: wrap;
}
#order .shop-box .detail-box .spec span {
  background: #f5f5f5;
  color: #333;
  padding: 3px 20px;
  border-radius: 15px;
  margin: 5px;
}
#order .shop-box .detail-box .price {
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#order .shop-box .detail-box .price span:nth-of-type(1) {
  color: #ff7031;
  font-size: 16px;
}
#order .shop-box .detail-box .price span:nth-of-type(2) {
  color: #333;
  font-size: 13px;
}
#order .price-box {
  background: #fff;
  margin: 0 10px;
  border-radius: 5px;
}
#order .price-box .cell-right span {
  color: #fd7100;
  font-size: 12px;
}
#order .info {
  line-height: 24px;
  font-size: 12px;
  color: #fd7100;
  margin: 10px 10px;
}
#order .bottom-btn {
  line-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
  align-items: center;
}
#order .bottom-btn .zs {
  flex: 1;
  text-align: right;
  padding: 0 10px;
  font-size: 15px;
}
#order .bottom-btn .zs span {
  color: #ff7101;
  font-size: 17px;
}
#order .bottom-btn .submit-btn {
  width: 120px;
  background: #ff7101;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
