
<div data-page="send" class="page">
	<!--顶部导航-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="" class="back"><i class="icon icon-back"></i></a>
			</div>
			<div class="center sliding" style="text-align: center;width: 100%;">推广链接</div>
			<div class="right">
				<a href="" class="link"> <i class="fa fa-home"></i></a>
			</div>
		</div>
	</div>
	<!--顶部导航-->
	<div class="page-content">
		<div class="content-block-title color-red">推广链接：<br>
		<input type="text" value="{$mylink}" style="border:none;width: 100%;"/></div>
		<div class="content-block">
			<img src="/{$fileName}" alt="" width="100%">
		</div>
		<div class="row" style="height: 50px;"></div>
	</div>
	<!--底部开始-->
	<include file="Tpl/footnav" />
	<!--底部结束-->
</div>