<div data-page="setpwd" class="page form">
    <!--顶部导航-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="" class="back"><i class="icon icon-back"></i></a>
            </div>
            <div class="center sliding" style="text-align: center;width: 100%;">修改密码</div>
            <div class="right">
                <a href="{:url('index/index')}" class="link"> <i class="fa fa-home"></i></a>
            </div>
            <div class="subnavbar">
                <div class="buttons-row">
                    <a href="#tab1" class="button tab-link active">修改登录密码</a>
                    <a href="#tab2" class="button tab-link ">修改交易密码</a>
                </div>
            </div>
        </div>
    </div>
    <!--顶部导航-->
    <div class="page-content">
        <div class="tabs">
            <div id="tab1" class="tab active">

                <div class="content-block-title">
                </div>
                <form action="{:url('api/user/changepwd')}" method="post" class="ajax-submit">
                    <div class="list-block inset">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">原登录密码</div>
                                        <div class="item-input">
                                            <input type="password" name="oldpassword" placeholder="请输入原登录密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">新登录密码</div>
                                        <div class="item-input">
                                            <input type="password" name="newpassword" placeholder="请输入新登录密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">确认新登录密码</div>
                                        <div class="item-input">
                                            <input type="password" name="renewpassword" placeholder="请再次输入新登录密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content-block">

                                </div>
                            </li>
                        </ul>
                        <button type="submit" class="button button-fill button-round  ">修改</button>
                    </div>
                </form>
                <div class="row" style="height: 50px;"></div>
            </div>

            <div id="tab2" class="tab">
                <div class="content-block-title">
                </div>
                <form action="{:url('api/user/changepwd2')}" method="post" class="ajax-submit">
                    <div class="list-block inset">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">原交易密码</div>
                                        <div class="item-input">
                                            <input type="password" name="oldpassword" placeholder="请输入原交易密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">新交易密码</div>
                                        <div class="item-input">
                                            <input type="password" name="newpassword" placeholder="请输入新交易密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">确认新交易密码</div>
                                        <div class="item-input">
                                            <input type="password" name="renewpassword" placeholder="请再次输入新交易密码">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content-block">

                                </div>
                            </li>
                        </ul>
                        <button type="submit" class="button button-fill button-round ">修改</button>
                    </div>
                </form>
                <div class="row" style="position: relative;height: 30px;text-align: right;line-height: 30px;display: block;color:;width:92%;margin: 0 auto">
                     <a href="{:url('user/getpwd2')}" style="font-size: 12px;width: 65px;float: right;color: ;position: relative;">忘记密码</a>
                </div>
                <div class="row" style="height: 50px;"></div>

            </div>


        </div>
    </div>
    <!--底部开始-->
    {include file="common/footnav"/}
    <!--底部结束-->
</div>
