<div data-page="editinfo" class="page form">
	<!--顶部导航-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="" class="back"><i class="icon icon-back"></i></a>
			</div>
			<div class="center sliding" style="text-align: center;width: 100%;">社区信息</div>
			<div class="right">
				<a href="#" class="link icon-only open-panel" data-panel="right"> <i class="fa fa-bullhorn"></i></a>
			</div>
		</div>
	</div>
	<!--顶部导航-->
	<div class="page-content">
		<form action="{:url('Info/tdinfo')}" method="post" class="ajax-submit">
			<div class="list-block">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">社区名称</div>
								<div class="item-input">
								   <input  type="text" name="name"  placeholder="请输入社区名称" value="{$team.name}">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">队长QQ</div>
								<div class="item-input">
										<input placeholder="请输入QQ" type="number" name="captainqq" value="{$team.captainqq}" >
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">社区QQ群</div>
								<div class="item-input">
									<input placeholder="请输入QQ群" type="number" name="qqteam" value="{$team.qqteam}" >

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">队长宣言</div>
								<div class="item-input">
										<input placeholder="请输入队长宣言" type="text" name="captainwechat" value="{$team.captainwechat}">

								</div>
							</div>
						</div>
					</li>


					<li>
						<p class="content-block">

						</p>
					</li>
				</ul>
				<button type="submit" class="button button-fill button-round bg-green">提交</button>
			</div>

		</form>
		<div class="row" style="height: 50px;"></div>
	</div>
</div>
