<include file="common/head" />
<body>
	<include file="common/top" />
	<!-- 主体开始 -->
	<div id="main">
		<div class="wrapper">
			<!-- 导航开始 -->
			<include file="common/nav" />
			<!-- 导航结束 -->
			<!-- 内容开始 -->
			<section id="content">
				<!-- 面包屑导航开始 -->
				<div id="breadcrumbs-wrapper" class=" grey lighten-3">
					<div class="container">
						<div class="row">
							<div class="col s12 m12 l12">
								<h5 class="breadcrumbs-title">邮件详情</h5>
								<ol class="breadcrumb">
									<li><a href="{:url('Index/index')}" >首页</a></li>
									<li>邮件管理</li>			
									<li class="active">邮件详情</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<!-- 面包屑导航结束 -->
				<div class="row">
					<div class="col s12">
						<div id="flight-card" class="card">
							<div class="card-header blue accent-4">
								<div class="card-title">
									<h6 class="flight-card-title">邮件详情</h6>						
								</div>
							</div>					
							<div class="card-content white">
								<div class="row">
									<div class="col s12">
										<div class="email-content-wrap">
											<div class="row">
												<div class="col s12">
													<ul class="collection">
														<li class="collection-item">	            
															<h5 class="email-title">{$rsms['title']}</h5>
															<p class="truncate grey-text ultra-small">2014-14-21&nbsp;14:00</p>
															<p class="grey-text ultra-small">发送人:{$rsms['usename']}</p>
														</li>
														<li class="collection-item">
														<span class="email-title">发送内容:</span>
														<p class="model-email-content">
															{$rsms['content']}
														</p>
														</li>
														<li class="collection-item">
														<span class="email-title">回复内容:</span>
														<p class="model-email-content">
															{$rsms['reply']|html_entity_decode}
														</p>
														</li>	
													</ul>
												</div>			                      
											</div>			                   
										</div>	
									</div>
								</div>					
							</div>
						</div>
					</div>
				</div>
			</section>  
			<!-- 内容结束 -->
		</div>
	</div>
	<!-- 主体结束 -->
	<!-- 底部开始 -->
	<include file="common/footer" />
	<include file="common/foot" />