<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Level_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-level_name" class="form-control" name="row[level_name]" type="text" value="{$row.level_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Suan')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-suan" class="form-control" step="0.01" name="row[suan]" type="number" value="{$row.suan}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ztnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ztnum" class="form-control" name="row[ztnum]" type="text" value="{$row.ztnum}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tdnum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tdnum" class="form-control" name="row[tdnum]" type="text" value="{$row.tdnum}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tdj')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tdj" class="form-control" step="0.01" name="row[tdj]" type="number" value="{$row.tdj}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ceng')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ceng" class="form-control" name="row[ceng]" type="text" value="{$row.ceng}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Deposit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-deposit" class="form-control" name="row[deposit]" type="text" value="{$row.deposit}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
