<div data-page="myteam" class="page">
		<!--顶部导航-->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left">
					<a href="" class="back"><i class="icon icon-back"></i></a>
				</div>
				<div class="center sliding" style="text-align: center;width: 100%;">推广关系</div>
				<div class="right">
					<a href="#" class="link icon-only open-panel" data-panel="right"> <i class="fa fa-bullhorn"></i></a>
				</div>
			</div>
		</div>
		<!--顶部导航-->
		<div class="page-content">
			<link rel="stylesheet" href="/public/css/zTreeStyle.css" type="text/css">
			<!--内容开始-->
			<div class="content-block">
			<!--$tjtreestr-->
				<ul id="treeDemo" class="ztree"></ul>
			</div>
			<!--内容end-->
			<div class="row" style="height: 50px;"></div>

		</div>
		<!--底部开始-->
	{include file="common/footnav"/}
		<!--底部结束-->
</div>
