<div data-page="reg2" class="page no-navbar form login">
    <style>
        .list-block .item-inner{
            padding: 0 !important;
        }
        .list-block .item-content{
            padding-left: 0 !important;
        }
        input::-webkit-input-placeholder{
            color:#fff;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#fff;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#fff;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#fff;
        }
        .list-block .item-inner:after{
            height: 0px;
        }
        .login-form ul{
            padding: 0;
        }
        .login-form ul li{
            background: rgba(255,255,255,.3);
            border-radius: 43px;
            border: none;
            /*border-bottom: 1px solid #fff;*/
            padding-left: 0 !important;
            color: #fff;
            position: relative;
            margin-bottom: 10px;
        }
        .login-form ul li .item-media{
            padding: 0;
            height: 43px;
            border-right: 1px solid #fff;
            width: 80px;
            color: #fff;
        }
        .login-form ul li img{
            height: 20px;
            display: block;
            margin: 0 auto;
        }
        .login-form ul li .item-input input{
            padding-left: 10px;
            box-sizing: border-box;
        }
        .yzm{
            background: #cdd8e5;
            color: #0a70af !important;
            font-size: 14px;
            letter-spacing: 1px;
            /* padding: 5px 5px 5px; */
            border-radius: 4px;
            height: 35px;
            max-height: 35px !important;
            line-height: 35px;
            padding: 0 5px;
            margin-right: 10px;
        }
        .submitBtn{
            height: 45px;
            /* line-height: 45; */
            color: #fff;
            background: #007aff;
            margin-top: 20px;
            font-size: 17px;
            border-radius: 45px;
        }

        #particles01 {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top:0;
            left: 0;
            z-index: -1;
        }
        .login ul{
            background: transparent;
        }
        .list-block .item-title{
            color: #fff;
            font-size: 13px;
        }
        .list-block .item-input input,.list-block .item-input select{
            color: #fff;
            font-size: 13px;
        }
    </style>
    <div class="page-content">
        <div id="particles01">

        </div>
        <div class="logoBox" style="margin: 0 auto;margin-top: 30px">
            <img src="{$site.logo}" alt="logo">
        </div>
        <h2 class="login-title" style="margin-top: 10px;color: #fff">{$site.name}</h2>
        <form action="" method="post" class="ajax-submit login-form" id="regform">
            <div class="list-block inset" style="padding: 0 15px">
                <ul>
                    <li class="item-content">
                        <div class="item-media">
                            <img src="/assets/img/icon-form-gj.png" alt="">
                        </div>
                        <div class="item-input">

                            <select name="country" id="country" style="padding-left: 10px;font-size: 13px">
                                {foreach name="country" item="vo" key="k"}
                                <option value="{$vo.country}">{$vo.country} +{$vo.mobile_prefix}</option>
                                {/foreach}

                            </select>
                            <!--<input placeholder="请输入您的会员编号" type="text" name="username">-->
                        </div>
                    </li>



                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img src="/assets/img/icon-form-tjr.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="text" name='twon' placeholder="地址" readonly="readonly" id="location" />
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img src="/assets/img/icon-form-tjr.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="text" name="tjuser" placeholder="推荐人ID" value="{$tjuser}" {if
                                        condition="$tjuser" } readonly="readonly" {/if}> </div> </div> </div> </li> <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-media">
                                                <img src="/assets/img/icon-form-sj.png" alt="">
                                            </div>
                                            <div class="item-input">
                                                <input id="regphone" placeholder="手机号" type="text" name="mobile">
                                            </div>
                                        </div>
                                    </div>
                    </li>

                    <li class="item-content">
                        <div class="item-media">
                            <img src="/assets/img/icon-form-yzm.png" alt="">
                        </div>
                        <div class="item-input">
                            <input type="text" name="captcha" placeholder="验证码">
                        </div>
                        <input class="item-after yzm" type="button" onclick="yzm($$('#regphone').val(),'register',5)"
                            value="获取验证码" />
                        <!--<div class="item-after yzm" onclick="yzm($$('#regphone').val(),'register',5)"> -->
                        <!--获取验证码-->
                        <!--</div>-->
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img src="/assets/img/icon-form-mm.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="password" name="password" placeholder="登录密码">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img src="/assets/img/icon-form-qrmm.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="password" name="repassword" placeholder="确认密码">

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img style="height: 14px" src="/assets/img/icon-form-jymm.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="password" name="password2" placeholder="交易密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-media">
                                    <img src="/assets/img/icon-form-qrmm.png" alt="">
                                </div>
                                <div class="item-input">
                                    <input type="password" name="repassword2" placeholder="确认密码">

                                </div>
                            </div>
                        </div>
                    </li>

                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">真实姓名</div>-->
                    <!--<div class="item-input">-->
                    <!--<input placeholder="请输入您的真实姓名" type="text" name="realname">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li> -->

                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">身份证号</div>-->
                    <!--<div class="item-input">-->
                    <!--<input type="text" class="form-control" value="" name="idcard">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">微信号</div>-->
                    <!--<div class="item-input">-->
                    <!--<input type="text" class="form-control" value="" name="weixin">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">支付宝号</div>-->
                    <!--<div class="item-input">-->
                    <!--<input type="text" class="form-control" value="" name="alipay">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">开户名</div>-->
                    <!--<div class="item-input">-->
                    <!--<input placeholder="请输入开户名" type="text" name="bankusename">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">开户行</div>-->
                    <!--<div class="item-input">-->
                    <!--<input placeholder="请输入开户行" type="text" name="bankname">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                    <!--<div class="item-title label">银行卡号</div>-->
                    <!--<div class="item-input">-->
                    <!--<input placeholder="请输入银行卡号" type="text" name="banknum">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</li>-->

                    <!--<li>-->
                    <!--<p class="content-block">-->
                    <!--</p>-->
                    <!--</li>-->
                    <li class="item-content" style="background:transparent;padding-left: 0;color: #fff;position: relative;border-bottom: none">
                        <button onclick="MY.formpost('{:url(\'api/user/register\')}','regform')" class="button button-round submitBtn"
                            style="margin-top: 30px">注册</button>
                    </li>
                </ul>

                <div class="row" style="position: relative;height: 35px;text-align: right;line-height: 35px;display: block;color:;width:100%;margin: 0 auto;font-size: 13px;color: #fff;">
                    <a href="{:url('user/appdownload')}" style="float: left;color: #fff;line-height: 35px;height: 35px">
                        <img src="/assets/img/icon-app.png" style="height: 35px;display: inline-block;color: #fff;vertical-align: middle">
                        <span>APP下载</span>
                    </a>
                    <!--<a href="{:url('user/login')}" style="margin-left:5px;float: right;position: relative;color: #fff;line-height: 35px;height: 35px">前往登录</a>-->




                </div>
                <!--<p class="buttons-row">-->
                <!--<a href="{:url('user/login')}" class="button  button-round ">前往登陆</a>-->
                <!--<a href="#" class="button  button-round  color-red external">下载APP</a>-->
                <!--</p>-->
            </div>
        </form>
        <div class="row" style="height: 50px;"></div>

        <!--<div class="popover popover-about" id="popover">-->
        <!--<div class="popover-angle"></div>-->
        <!--<div class="popover-inner">-->
        <!--<form action="" method="post" class="ajax-submit">-->
        <!--<div class="content-block">-->
        <!--<div class="item-media"  style="padding: 0;font-size:13px;padding-left: 5px;width: 100%;font-size:16px;text-align:center;margin-top:-20px;margin-bottom:10px">-->
        <!--验证码-->
        <!--</div>-->
        <!--<div class="item-input" style="position: relative;">-->
        <!--<input name="captcha" id="captcha" type="text" placeholder="请输入验证码"  style="padding:6px;color: ;">-->
        <!--<img src="{:captcha_src()}"  onclick="this.src = '{:captcha_src()}?r=' + Math.random();" style="position: absolute;right: 0;top: 0;width: 100px;height: 35px;"/>-->
        <!--</div>-->

        <!--<button onclick="MY.ajax('{:url('api/sms/send')}',{mobile:$$('#phone').val(),captcha:$$('#captcha').val(),event:'register'});" class="button button-fill button-round bg-green" style="width:40%;margin:15px auto">确定</button>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <!--底部开始-->

    <!--底部结束-->
</div>