<div data-page="success" class="page">
    <!--顶部导航-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="" class="back"><i class="icon icon-back"></i></a>
            </div>
            <div class="center sliding" style="text-align: center;width: 100%;">支付提示</div>
            <div class="right">
                <a href="#" class="link icon-only open-panel" data-panel="right"> <i class="fa fa-bullhorn"></i></a>
            </div>
        </div>
    </div>
    <!--顶部导航-->
    <div class="page-content member" style="background: white;">
        <p style="font-size: xx-large;padding: 34%;">{$payback}</p>
        <p style="font-size: xx-large;padding: 34%;">3秒后跳转……</p>
    </div>
</div>